/* Untuk Tablet */
@media all and (max-width: 1000px) {
  /*ryan*/
.container {
	width: 50%;
  }  
  /*end ryan*/
  /*pijar*/
.contents-container {
	width: 50%;
  }

.content {
  	width: 50%;
  }

  .poster-box {
  	width: 50%;
  }

  .poster {
  	width: 50%;
  }

  .title {
  	text-align: center;
  }
  /*end pijar*/
  /*oki*/
  .contents-item {
  	width: 50%;
  }
  /*end oki*/
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  /*ryan*/
 .container {
  width: 100%;
  }  

  .logo {
  	width: 170px;
  	height: 170px;
  	margin: 0 100px 20px 100px;
  }

  .container p {
  	padding-left: 1.8em;
  	width: 100%;
  	text-align: justify;
  }

  .container span {
  	padding-left: 145px;
  }

  /*end ryan*/
  /*pijar*/
  .contents-container {
  width: 100%;
  }

  .content {
  	width: 100%;
  }

  .poster-box {
  	width: 100%;
  }

  .poster {
  	width: 100%;
  	padding-right: 30px;
  }

  .title {
  	width: 100%;
  	text-align: center;
  }
  /*end pijar*/
  /*oki*/
  .contents {
  	padding-left: 90px;
  	width: 100%;
  }

  .section-title {
  	width: 80%;
  	text-align: center;
  }
  .contents-item {
  	width: 80%;
  	margin-bottom: 100px;
  }

  img {
  	width: 100%;
  	padding-left: 14px;
  	padding-top: 12px;
  }

  .contents-item p {
  	width: 100%;
  }
  /*end oki*/
}