* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next";
  background-color: #15003b;
}

/*oki*/
.contents {
  width: 100%;
  margin: 0 auto;
  padding: 100px 15px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin: 50px 0;
  text-align: center;
  color: red;
  background-color: #15003b;
}

.section-title span {
  color: white;
}

img {
  width: 234px;
  height: 288px;
  padding-right: 11px;
  background-color: white;
}

.contents-item {
  border: 2px solid black;
  float: left;
  padding: 12px;
  width: 19%;
  margin: 6.6px;
  background-color: white;
}

.contents-item p {
  margin-top: 5px; 
  font-size: 24px;
  text-align: center;  
  background-color: white;
}

.clear {
  clear: left;
}
/*end oki*/

/*ryan*/
.extra1 {
  padding: 100px 0;
  background-color: #ddd;
}
.container {
  width: 880px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ddd;
}

.logo {
  float: left;
  width: 170px;
  height: 170px;
  border-radius: 100px;
  margin :0 9px 3px 0;
  margin-right: 20px;
  background-color: #ddd;
  border: 1px solid black;
}

.container p {
  text-align: justify;
  color: black;
  background-color: #ddd;
}

.container span {
  font-size: 40px;
  background-color: #ddd;
}
/*end ryan*/

/*pijar*/
.title {
  margin-top: 60px;
  color: white;
}
.title h1 {
  font-size: 60px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 5px;
  text-align: center;
}

.title h2 {
  font-size: 30;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.title span {
  color: #ff0000;
}

.contents-container {
  background-size: cover;
  font-family: "Lucida Grande";
  color: white;
  opacity: 0.8;
  width: 100%;
  /*height: 1400px;*/
  padding: 100px 100px;
  margin-bottom: 100px; 
}

.content {
  width: 33.33%;
  height: 25%;
  border: 2px solid #fff;
  float: left;
}

.poster-box {
  height:75%;
  width:100%;
  border-bottom: 1px solid #fff;
}

.poster {
  width: 354px;
  height: 354px;
  padding-left: 40px;
  background-color: #15003b;
}

.message{
  height: 100%;
  width: 100%;
}

.message p{
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
}
/*end pijar*/

/*putri*/
.footer {
  margin-top: 50px;
  background-color: #ffff;
  color: #000;
  height: 160px;
  padding: 40px;
}

.footer-logo {
  background-color: #ffff;
  float: left;
  font-size: 25px;
}

.footer-logo i {
  background-color: #ffff;
}

.footer-list {
  background-color: #ffff;
  float: right;
}

.footer-list li {
  background-color: #ffff;
  padding-bottom: 20px
}
/*end putri*/

/*ari*/
header {
  padding: 0 15px;
  margin: 0 auto;
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  z-index: 10;
  top: 0;
}

.H20 {
  background-color: white;
  width: 124px;
  height: 65px;
  /*margin-top: 20px;*/
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
  margin-right: -25px;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  background-color: rgba(34, 49, 52, 0.9);
  line-height: 45px;
  padding: 10px 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.menu-icon {
  background-color: rgba(34, 49, 52, 0.9);
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
/*end ari*/